@font-face {
  font-family: "HYTMR";
  font-display: swap;
  src: url("https://npm.elemecdn.com/fontcdn-ariasaka@1.0.0/HYTangMeiRen55W.woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaco";
  font-display: swap;
  src: url("https://cdn1.tianli0.top/npm/fontcdn-ariasaka@1.0.0/MONACO.TTF")
    format("truetype");
}

:root {
  --aria-border: 1px solid #c9c9c9;
  --aria-blue: #6cf;
  --aria-gray: #e2e2e2;
  --aria-theme: var(--aria-pink);
  --aria-light-grey: #f2f2f2;
  --aria-green: #34d0cc;
  --aria-black-acrylic1: #0008;
  --aria-black-acrylic2: #000a;
  --aria-black: black;
  --aria-white: white;
  --aria-white-acrylic1: #fffd;
  --aria-white-acrylic2: #fffa;
  --aria-blackgray: #797979;
  --aria-whitefont: #ffffffb3;
  --aria-0: #0000;
  --aria-scrollbar: #acacacdd;
  --aria-whitegray: #f1f1f1;
  --aria-red: #d7000f;
  --aria-orange: #ed8e00;
  --aria-yellow: rgb(209, 205, 17);
  --aria-purple: rgb(159, 76, 208);
  --aria-pink: #f79dbc;
  --aria-heoblue: #0098db;
  --aria-darkblue: #61649f;
  --aria-blackfont: #4c4948;
  --aria-highlight-black: #1f2d3d;
  --aria-highlight-white: #ffffff;
  --aria-light-fontcolor: #828282;
  --heo-main: var(--aria-theme) !important;
  --heo-fontcolor: var(--aria-fontcolor) !important;
}

:root {
  --aria-background: #f7f9fe;
  --aria-acrylic1: var(--aria-white-acrylic1);
  --aria-acrylic2: var(--aria-white-acrylic2);
  --aria-fontcolor: var(--aria-blackfont);
  --aria-highlight: var(--aria-highlight-black);
  --aria-shadow: 0 0 10px 3px #9595953b;
  --aria-shadow-color: #9595953b;
  --style-border-always: var(--aria-border) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --aria-background: #552a2a;
    --aria-acrylic1: var(--aria-black-acrylic1) !important;
    --aria-acrylic2: var(--aria-black-acrylic2) !important;
    --aria-fontcolor: var(--aria-whitefont);
    --aria-highlight: var(--aria-highlight-white);
    --aria-shadow: 0 0 10px 3px #1c1c1c;
    --aria-shadow-color: #1c1c1c;
    --heo-secondbg: #2f3031 !important;
    --heo-card-bg: #000 !important;
    --aria-border: 1px solid rgb(138, 138, 138);
  }
}

.fancybox__container {
  --fancybox-bg: rgba(24, 24, 27, 0.8) !important;
  z-index: 191981011 !important;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--aria-theme);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--aria-background);
  font-family: "HYTMR", "sans-serif";
  color: var(--aria-fontcolor);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  /* background-color: transparent; */
}

/* body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(https://img.0v0.my/2024/09/30/66fa44451c6f4.webp);
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff4;
    z-index: -1;
    backdrop-filter: blur(10px);
} */
code,
pre {
  font-size: 14px;
  font-family: "Monaco", monospace, "HYTMR";
  line-height: 1.6;
}

code::selection,
pre::selection,
code *::selection,
pre *::selection {
  background-color: var(--aria-theme) !important;
  color: white !important;
}

a.normal-a,
:is(.tk-content, .bb-content) a {
  border-bottom: 2px dotted var(--aria-theme);
  color: var(--aria-fontcolor);
  padding: 4px;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  word-wrap: break-word;
  position: relative;
  font-weight: 600;
  padding-right: 18px !important;
}

:is(a.normal-a, :is(.tk-content, .bb-content) a):hover {
  background-color: var(--aria-theme);
  text-decoration: none !important;
  color: var(--aria-white) !important;
  border: none;
  box-shadow: var(--aria-shadow);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

:is(a.normal-a, :is(.tk-content, .bb-content) a)::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 3px;
}

.card-widget {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 15px;
  border: var(--aria-border);
  background-color: var(--aria-acrylic2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.card-widget:hover {
  border: 1px solid var(--aria-theme);
  box-shadow: 0 0 3px var(--aria-theme);
}

@supports not (selector(::-webkit-scrollbar)) {
  * {
    scrollbar-color: var(--aria-scrollbar);
    scrollbar-width: thin;
  }

  *:hover {
    scrollbar-color: var(--aria-theme);
  }
}

::-webkit-scrollbar-thumb {
  background-color: var(--aria-scrollbar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--aria-theme);
}

::-webkit-scrollbar {
  width: 6px;
}

::selection {
  background-color: var(--aria-theme);
  color: var(--aria-white);
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

#main-container {
  margin: 20px 20px;
  max-width: 1200px;
  box-sizing: border-box;
}

@media screen and (min-width: 1240px) {
  #main-container {
    margin: 20px auto;
    width: 1200px;
  }
}

a {
  text-decoration: none;
  color: var(--aria-fontcolor);
}

p,
article {
  line-height: 1.8;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  flex-grow: 1;
}

.snackbar-container .action {
  color: var(--aria-theme) !important;
  background-color: transparent !important;
  font-family: "HYTMR", sans-serif !important;
}

.snackbar-container {
  font-family: "HYTMR", sans-serif !important;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.snackbar-container {
  z-index: 1145141919 !important;
}

.snackbar-container {
  border-radius: 12px !important;
  background-color: #000000aa !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}

@media screen and (max-width: 640px) {
  .snackbar-container {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
  }
}

#post-maincontent img:not(.inline-image) {
  max-width: min(400px, 100%);
}

* {
  scroll-behavior: smooth;
}

.tk-expand {
  box-shadow: 0 0 3px var(--lyx-black-acrylic3);
  border-radius: 12px;
  background-color: var(--lyx-white-acrylic1) !important;
  margin-top: 20px;
}

#nprogress > * {
  z-index: 1145141919810 !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

@import "@fortawesome/fontawesome-free/css/all.min.css";
