@font-face{
    font-family: 'HYTMR';
    font-display: swap;
    src: url('https://npm.elemecdn.com/fontcdn-ariasaka@1.0.0/HYTangMeiRen55W.woff2') format("woff2");/*/font/HYTangMeiRen55W.woff2*/
}
@font-face{
    font-family: 'Monaco';
    font-display: swap; 
    src: url('https://npm.elemecdn.com/fontcdn-ariasaka@1.0.0/MONACO.TTF') format("truetype");/*/font/HYTangMeiRen55W.ttf*/
}
:root{
    --aria-border:1px solid#c9c9c9;
    --aria-blue:#6cf;
    --aria-gray:#e2e2e2;
    --aria-theme:var(--aria-pink);
    --aria-light-grey:#F2F2F2;
    --aria-green:#34d0cc;
    --aria-black-acrylic1: #0008;
    --aria-black-acrylic2: #000a;
    --aria-black:black;
    --aria-white:white;
    --aria-white-acrylic1:#fffd;
    --aria-white-acrylic2:#fffa;
    --aria-blackgray:#797979;
    --aria-whitefont:#ffffffb3;
    --aria-0:#0000;
    --aria-scrollbar: #acacacDD;
    --aria-whitegray:#f1f1f1;
    --aria-red:#d7000f;
    --aria-orange:#ed8e00;
    --aria-yellow:rgb(209, 205, 17);
    --aria-purple:rgb(159, 76, 208);
    --aria-pink:#ed709b;
    --aria-heoblue:#0098db;
    --aria-darkblue:#61649f;
    --aria-blackfont:#4c4948;
    --aria-highlight-black: #1f2d3d;
    --aria-highlight-white: #ffffff;
    --aria-light-fontcolor:#858585;
}
:root{
    --aria-background:#f7f9fe;
    --aria-acrylic1:var(--aria-white-acrylic1);
    --aria-acrylic2:var(--aria-white-acrylic2);
    --aria-fontcolor:var(--aria-blackfont);
    --aria-highlight:var(--aria-highlight-black);
    --aria-shadow: 0 0 10px 3px #ebebeb;
    --aria-shadow-color: #ebebeb;
}
@media (prefers-color-scheme:dark){
    :root{
        --aria-background:#552A2A;
        --aria-acrylic1:var(--aria-black-acrylic1)!important;
        --aria-acrylic2:var(--aria-black-acrylic2)!important;
        --aria-fontcolor:var(--aria-whitefont);
        --aria-highlight:var(--aria-highlight-white);
        --aria-shadow:0 0 10px 3px #1c1c1c;
        --aria-shadow-color: #1c1c1c;
    }
}
.fancybox__container{
    --fancybox-bg: rgba(24, 24, 27, 0.8)!important;
    z-index: 191981011!important;
}
body{
    margin:0;
    padding:0;
    background-color: var(--aria-background);
    font-family: 'HYTMR','sans-serif';
    color:var(--aria-fontcolor);
    scroll-behavior: smooth;
    overflow-x:hidden;
    -webkit-tap-highlight-color: transparent;
}
a.normal-a,.tk-content a{
    border-bottom: 2px solid var(--aria-theme);
    color:var(--aria-fontcolor);
    padding:4px;
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    word-wrap: break-word;
}
a.normal-a:hover,.tk-content a:hover{
    background-color: var(--aria-theme);
    text-decoration: none!important;
    color:var(--aria-white)!important;
    border:none;
    box-shadow: var(--aria-shadow);
    border-radius: 6px;;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.card-widget{
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    margin-bottom: 15px;
    border:var(--aria-border);
    background-color: var(--aria-acrylic2);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.card-widget:hover{
    border: 1px solid var(--aria-theme);
    box-shadow: 0 0 3px var(--aria-theme);
}
@supports not (selector(::-webkit-scrollbar)) {
    * {
        scrollbar-color: var(--aria-scrollbar);
        scrollbar-width: thin;
    }
    *:hover{
        scrollbar-color: var(--aria-theme);
    }
}
::-webkit-scrollbar-thumb {
    background-color: var(--aria-scrollbar);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--aria-theme); 

}
::-webkit-scrollbar{
    width:6px;
}
::selection{
    background-color: var(--aria-theme);
    color: var(--aria-white);
}
#main-container{
    margin: 20px 20px;
    max-width: 1200px;
    box-sizing: border-box;
}
@media screen and (min-width:1240px){
    #main-container{
        margin: 20px auto;
    }
}
a{
    text-decoration: none;
    color:var(--aria-fontcolor);
}
p,article{
    line-height:2;
}
#main-container{
    display: flex;;
}
.card-title{
    flex-grow: 1;
}
.snackbar-container .action{
    color:var(--aria-theme)!important;
    background-color: transparent!important;
    font-family: "HYTMR";
}
.snackbar-container{
    font-family: "HYTMR";
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}
@media screen and (max-width:640px){
    .snackbar-container{
        border-radius:0px!important;
        -webkit-border-radius:0px!important;
        -moz-border-radius:0px!important;
        -ms-border-radius:0px!important;
        -o-border-radius:0px!important;
    }
}
.snackbar-container{
    z-index:1145141919;
}
.snackbar-container{
    border-radius: 12px;
    background-color: #000000aa!important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
@media screen and (max-width:600px){
    #main-container{
        margin:0!important;
    }
}
.normal-img{
    max-width: 100%;
}
*{
    scroll-behavior: smooth;
}
.tk-expand {
    box-shadow: 0 0 3px var(--lyx-black-acrylic3);
    border-radius: 12px;
    background-color: var(--lyx-white-acrylic1) !important;
    margin-top: 20px;
}
#nprogress>*{
    z-index:1145141919810!important;
}