#posts-categories-bar {
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
    min-height: 36px;
}

#posts-categories-bar-container {
    display: flex;
    margin-left: 10px !important;
    overflow: scroll;
    scrollbar-width: none;
}

#posts-categories-bar-container::-webkit-scrollbar {
    height: 0px;
}

#posts-categories-bar>* {
    margin: auto 0;
}

.posts-categories-bar-item {
    padding: 3px 5px;
    margin-right: 5px;
    white-space: nowrap;
}

.posts-categories-bar-item-count {
    color: var(--aria-light-fontcolor);
    font-size: 12px;
    margin-bottom: auto;
}

.posts-categories-bar-item {
    display: flex;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.posts-categories-bar-item:hover,
.posts-categories-bar-item.current {
    background-color: var(--aria-theme);
    cursor: pointer;
}

.posts-categories-bar-item:hover>*,
.posts-categories-bar-item.current>* {
    color: white !important;
}

#posts-categories-bar svg {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    transition: .3s;
}

#posts-categories-bar svg:hover {
    color: var(--aria-theme);
}

.post-categories-bar-icon-link {
    display: flex;
}

.post-categories-bar-icon-link>svg {
    margin: auto;
}