#post-banner{
    height: 400px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: #bebebe;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
#post-banner::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0003;
    z-index: 1;
    backdrop-filter: blur(10px) saturate(180%);
}
#post-banner-info{
    z-index:2;
    position: absolute;
    bottom:80px;
    width:84%;
    padding:0 8%;
}
#post-banner-info *{
    color:var(--aria-white);
    line-height: 1.6;
}
#post-banner-title{
    font-weight: 400;
    font-size: 3em;
}
#post-banner .post-meta-content,#post-banner .post-meta{
    display: flex;
}
#post-banner .post-meta>*{
    margin:auto 0;
    margin-left:5px;
}
#post-banner .post-meta-content a{
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
#post-banner .post-meta-content a:hover{
    text-decoration: underline;
    color:var(--aria-theme);
}
#post-banner-meta .post-tags{
    white-space: nowrap;
}
.post-metas-firstline,.post-metas-secondline{
    display: flex;
}
@media screen and (max-width:1000px){
    #post-banner .post-meta svg{
        transform: translateY(2px);
    }
    #post-banner-info{
        bottom:50px!important;
    }
    #post-banner-meta .post-meta.post-tags{
        display: none!important;
    }
    #post-banner .post-meta,#post-banner .post-meta-content{
        display: inline!important;
    }
}
@media screen and (max-width:768px){
    #post-banner .post-metas,.post-metas-firstline,.post-metas-secondline{
        display: inline!important;
    }    
}
@media screen and (max-width:600px){
    #post-banner-title{
        font-size:32px;
        margin-bottom: 10px;
    }
    #post-banner-info{
        bottom:20px!important;
    }
    #post-banner-meta{
        font-size: 14px;
    }
}
@keyframes post-banner-animation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
}
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}
#post-banner{
    animation: post-banner-animation .8s;
    -webkit-animation: post-banner-animation .8s;
}
