#posts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.post-card{
    height: 18em;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    width:100%;
    overflow: hidden;
}
.post-card:hover{
    scale: 1.005;
    transform: perspective(1px);
}
.post-banner{
    min-width:350px;
    max-width: 350px;;
    height:18em;
    display: flex;
}
.post-banner-img{
    width:100%;
    height:100%;
    border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -ms-border-radius: 12px 0 0 12px;
    -o-border-radius: 12px 0 0 12px;
    object-fit: cover;
    transition: all .5s;
}
.post-banner{
    overflow: hidden;
}
.post-card{
    display: flex; 
}
.post-info{
    margin: auto 40px;
    width: fit-content;
}
.post-title{
    text-decoration: none;
    color:var(--aria-highlight);
    font-size: 1.72em;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    width: 100%;
}
.post-title:hover{
    color:var(--aria-theme);
}
.post-content {
    color: var(--aria-fontcolor);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.post-metas{
    margin-top:10px;
    color:var(--aria-light-fontcolor);
    font-size:15px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}
.post-metas .post-category{
    position: absolute;
    top:15px;
    right:20px;
    background-color:rgba(0, 0, 0, 0.629);
    color:white;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding:5px 10px;
}
.post-tags>.post-meta-context{
    display: flex;
    flex-wrap: nowrap;
}
.post-tags>.post-meta-context a{
    color:var(--aria-light-fontcolor);
}
.post-tags>.post-meta-context a:hover{
    color:var(--aria-theme);
    text-decoration: underline;
}
.post-tags{
    display: flex;
    flex-wrap: nowrap;
}
.post-tags *{
    margin:auto 1px;
}
.post-meta{
    margin-right:3px;
}
.post-info{
    display: flex;
    flex-direction: column;
}
.post-card:hover .post-banner-img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@media screen and (min-width:1200px){
    .post-card:not(.post-card:first-child) .post-banner-img{
        border-radius: 12px 12px 0 0!important;
        -webkit-border-radius: 12px 12px 0 0!important;
        -moz-border-radius: 12px 12px 0 0!important;
        -ms-border-radius: 12px 12px 0 0!important;
        -o-border-radius: 12px 12px 0 0!important;
    }
    .post-card:not(.post-card:first-child) .post-content{
        -webkit-line-clamp: 2!important;
    }
    .post-card:not(.post-card:first-child){
        flex-direction: column;
        width:calc(50% - 10px)!important;
        height: 23em!important;
    }
    .post-card:not(.post-card:first-child) .post-info{
        margin: 15px 40px;
    }
    .post-card:not(.post-card:first-child) .post-title{
        font-size:20px;
    }
    .post-card:not(.post-card:first-child) .post-banner{
        min-width: 100%;
        max-width: 100%;
    }
    .post-card:not(.post-card:first-child) .post-banner-link{
        width:100%;
    }
}
@media screen and (max-width:768px){
    .post-banner-img{
        border-radius: 12px 12px 0 0!important;
        -webkit-border-radius: 12px 12px 0 0!important;
        -moz-border-radius: 12px 12px 0 0!important;
        -ms-border-radius: 12px 12px 0 0!important;
        -o-border-radius: 12px 12px 0 0!important;
    }
    .post-content{
        -webkit-line-clamp: 2!important;
    }
    .post-card{
        flex-direction: column;
        width:100%!important;
        height: 23em!important;
    }
    .post-info{
        margin: 15px 40px;
    }
    .post-title{
        font-size:20px;
    }
    .post-banner{
        min-width: 100%;
        max-width: 100%;
    }
    .post-banner-link{
        width:100%;
    }
}