#aside-container{
    max-width: 285px;
    min-width: 285px;
    margin-left:15px;
}
.card-aside{
    padding: 20px 24px;
}
.card-headline{
    font-size: 1.2em;
    display: flex;
    margin-bottom: 12px;
}
.card-headline>*{
    margin:auto 0;
}
.card-title{
    margin-left:5px;
}
@media screen and (max-width: 900px){
    #aside-container{
        display: none;
    }
}
.aside-sticky-container{
    position: sticky;
    top: 70px;
}
.card-viewmore{
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.card-viewmore:hover{
    color: var(--aria-theme);
}
@media screen and (max-width: 600px){
    #main-container{
        margin-left:10px;
        margin-right:10px;
    }
}
.aside-list-item-pic{
    position: relative;
}